* {
  padding: 10px;
  margin: 100px;
  box-sizing: border-box;
}

html,
body {
  background-color : #1b1b32;  
  /* background-color : #03041E */
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-family: Lato, sans-serif;
}

.contenedor-principal {
  height: 650px;
  min-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

